<div class="row">
	<div class="medium-6 columns">
	<img class="thumbnail" src="https://s-media-cache-ak0.pinimg.com/originals/30/9b/55/309b55739a7a2d20a9de4498ee1de059.jpg">
	<div class="row small-up-4">
		<div class="column">
		<img class="thumbnail" src="http://placehold.it/250x200">
		</div>
		<div class="column">
		<img class="thumbnail" src="http://placehold.it/250x200">
		</div>
		<div class="column">
		<img class="thumbnail" src="http://placehold.it/250x200">
		</div>
		<div class="column">
		<!--<img class="thumbnail" src="http://placehold.it/250x200">-->
		<video class="thumbnail" controls>
			<source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
		</video>
		</div>
	</div>
	</div>
	<div class="medium-6 large-5 columns">
	<h3>ANNOUNCEMENT:</h3>
	<p>The next recital will be on December 7th at 9:00 am. at the home of ts. There will also be a 10:00am recital for Billy, Bob, Joe and Jill.</p>

	<!--<label>Size
	<select>
		<option value="husker">Small</option>
		<option value="starbuck">Medium</option>
		<option value="hotdog">Large</option>
		<option value="apollo">Yeti</option>
	</select>
	</label>

	<div class="row">
		<div class="small-3 columns">
		<label for="middle-label" class="middle">Quantity</label>
		</div>
		<div class="small-9 columns">
		<input type="text" id="middle-label" placeholder="One fish two fish">
		</div>
	</div>-->

	<a href="#" class="button large expanded big-button">See Past Annoucements</a>

	<!--<div class="small secondary expanded button-group">
		<a class="button">Facebook</a>
		<a class="button">Twitter</a>
		<a class="button">Yo</a>
		</div>
	</div>-->
</div>
<hr class="top-hr">